<% layout('/layouts/boilerplate')-%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3><%=prop1.title%></h3>
            </div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%=prop1.image.url%>" class="card-img-top show-img" alt="image">
        <div class="card-body">
        <p class="card-text">
            Owned by: <i><%=prop1.owner.username%></i>
        </p>
        <p class="card-text">
         <%=prop1.description%><br>
         </p>
         <p class="card-text">
         &#8377; <%=prop1.price.toLocaleString("en-IN")%> /night<br>
         </p>
         <p class="card-text">
         <%=prop1.location%><br>
         </p>
         <p class="card-text">
         <%=prop1.country%>
         </p><br>
         <% if (currUser && !currUser._id.equals(prop1.owner._id) || !currUser) { %>
         <form action="/listings/<%=prop1._id%>/book" method="get">
            <div>
                <label for="checkIn">Check-In:</label>
                <input type="date" id="checkIn" name="checkIn" required>
                <label for="checkOut">Check-Out:</label>
                <input type="date" id="checkOut" name="checkOut" required>
            </div><br>
            <label>Guests</label><br>
            <select name="guests" required>
                <option value="1">1 Guest</option>
                <option value="2">2 Guests</option>
                <option value="3">3 Guests</option>
                <option value="4">4 Guests</option>
            </select>
            <br><br>
            <button class="btn btn-dark btn-add">Book</button>
         </form>
         <% } %>

        </div>
        </div>
    <% if(currUser && currUser._id.equals(prop1.owner._id)) { %>
        <div class="btns">
            <a href="/listings/<%=prop1._id%>/edit" class="btn btn-dark offset-3 btn-add">Edit</a>
            <form method="post" action="/listings/<%=prop1._id%>?_method=DELETE">
                <button class="btn btn-dark offset-4 row ">Delete</button>
            </form>
        </div>
   <% } %>
    <div class="col-8 offset-3 mb-3">
        <hr>
        <% if(currUser) { %>
        <h4>Leave a Review</h4>
        <form action="/listings/<%=prop1._id%>/reviews" method="post" novalidate class="needs-validation">
            <div class="mt-3 mb-3">
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-coinFlip">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            </div>

            <div class="mt-3 mb-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comments for review!</div>
            </div>

                <button class="btn btn-outline-dark">Submit</button>
        <hr>
        </form>
        <% } %>
        <p><b>All Reviews</b></p>
    <div class="row">
    <% for(review of prop1.reviews) { %>
    <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
            <h5 class="card-title">@<%=review.author.username%></h5>
            <p class="starability-result card-text" data-rating="<%=review.rating%>"></p>
            <p class="card-text"><%=review.comment%></p>
            <% if(currUser && currUser._id.equals(review.author._id)) { %>
            <form method="post" action="/listings/<%=prop1._id%>/reviews/<%=review._id%>?_method=DELETE">
                <button class="btn btn-sm btn-dark">Delete</button>
            </form>
        <% } %>
        </div>
    </div>
    <% } %>
    </div>
    </div>
</div>
</body>